<%- include("partials/header.ejs") %>
<div class="row home" style="height: 100%">
	<div class="column-lg-12 d-flex align-items-center justify-content-center" style="height: 100%">
		<div id="content">
			<h3 id="arabic">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم</h3>
			<h1 class="display-4">Duas From The Quran</h1>
			<p class="lead">
				Here's a collection of the supplications straight out from the Holy Quran.
			</p>
			<hr>
			<a href="/duas" type="button" class="btn btn-outline-dark">
				Jump In
			</a>
		</div>
	</div>
</div>
<%- include("partials/footer.ejs") %>